.element {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 282px;
  min-height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
