.profile__edit-btn {
  background: transparent url(../../../images/editButtonVector.svg) center / 10px no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  padding: 0;
  align-self: flex-start;
  cursor: pointer;
  transition: opacity 1s;
  position: absolute;
  top: 15px;
  right: -24px;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__edit-btn {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    top: 10px;
    right: -20px;
  }
}

@media screen and (max-width: 700px) {
  .profile__edit-btn {
    top: 9px;
    right: -21px;
  }
}
