.header__link {
  text-decoration: none;
  color: white;
  margin-bottom: 46px;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 468px) {
  .header__link {
    height: 20px;
    margin: 0 30px 25px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
