.header__exit-btn {
  background: #000;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
}

.header__exit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
