.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 430px;
  padding: 34px 36px 36px;
}

@media screen and (max-width: 468px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
