.register__form-field {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 0 0 13px;
  margin: 0 0 30px;
  background: #000000;
  border: none;
  border-bottom: 2px solid #CCCCCC;;
}

.register__form-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}
