.popup__container_type_InfoTooltip {
  width: 430px;
  min-height: 330px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 60px 36px;
}

@media screen and (max-width: 468px){
  .popup__container_type_InfoTooltip {
    width: 280px;
    min-height: 308px;
    padding: 50px 18px;
  }
}
